/* Column */
.c { display: table;
     vertical-align: inherit; /* Subtables should maintain alignment intent */
     min-height: 1px; /* Height must be explicitly set for children to inherit it */ }
.c > * { display: table-row;
	 vertical-align: inherit; }
.c > * > * { display: table-cell;
	     vertical-align: inherit; }

/* Row */
.r { display: table;
     min-height: 1px;
     vertical-align: inherit; } 
.r > *{ display: table-cell;
	vertical-align: inherit; }

/* Padding */
.psb > * { padding-left: calc(var(--s-b, 20px) / 2); /* Padding Space-Between */
	  padding-right: calc(var(--s-b, 20px) / 2); }
.psb > *:first-child { padding-left: 0 }
.psb > *:last-child { padding-right: 0 }

/* Justify */
.jsb { display: flex;
       justify-content: space-between; }

/* Margins */
.mc { margin-left: auto;
      margin-right: auto; }
.mr { margin-left: auto }

/* Size */
.w { width: 100% }
.h { height: 100% }

/* Text */
.tt { display: flex;
      align-items: top; }
.tm { display: flex;
      align-items: center; }
.tb { display: flex;
      align-items: bottom; }
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
